# Contents 
    1. Importing Libraries 
    2. Importing Data
    3. Mixed Data Types
    4. Addressing Missing Values
    5. Addressing Duplicate Values
    6. Task 
        Questions:
        2. Run df.describe() on df_ords and Interpret the Output
        3. Check for Mixed-Type Data
        4. If mixed-type data is found, fix it
        5. Check for missing values in df_ords
        6. Address missing values 
        7. Check for duplicate vales in df_ords
        8. Address duplicates 
        9. Export final cleaned data for both df_prods and df_ords

### 01. Importing Libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/vickyczada/Library/CloudStorage/OneDrive-Personal/Documents/Career Foundry/Data Immersion/05-2025 Instacart Basket Analysis'

### 02. Importing Data

In [3]:
# import orders data
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [4]:
# import products data
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [5]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

### 03. Mixed Data Types

In [6]:
# create a dataframe

df_test = pd.DataFrame()

In [8]:
# create a mixed type column

df_test['mix'] = ['a', 'b', 1, True]

In [9]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [10]:
# check for mixed types

for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

/var/folders/bm/wxz2f90s7x104nl7tfs2lwdw0000gn/T/ipykernel_25791/2642355679.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [11]:
df_test['mix'] = df_test['mix'].astype('str')

In [12]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

### 04. Addressing Missing Values

In [13]:
# create subset for those missing values in product_name

df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [14]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [15]:
# addressing missing values

df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [18]:
df_prods.shape

(49693, 5)

In [19]:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [20]:
df_prods_clean.shape

(49677, 5)

### 05. Addressing Duplicate Values

In [22]:
# code to find duplicates

df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [23]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [25]:
df_prods_clean.shape

(49677, 5)

In [26]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [27]:
df_prods_clean_no_dups.shape

(49672, 5)

In [28]:
# export products data frame
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

## 06. Task

##### 2. Run the df.describe() function on your df_ords dataframe. Interpret the output of this function, share in a markdown cell.

In [29]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

#### Observations:

While I am slightly surprised to see that the maximum days since the pervious order was only 3, Instacart clearly has some loyal customers, there are no values that seem unreasonable. All the values, that can be numerically divided, in the columns appear to fall within an acceptable range.

##### 3. Check for mixed-type data.

In [31]:
# Running the fucntion to search for a mixed data type in a column in the df_ords dataframe.

for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

/var/folders/bm/wxz2f90s7x104nl7tfs2lwdw0000gn/T/ipykernel_25791/2999703701.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/bm/wxz2f90s7x104nl7tfs2lwdw0000gn/T/ipykernel_25791/2999703701.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/bm/wxz2f90s7x104nl7tfs2lwdw0000gn/T/ipykernel_25791/2999703701.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/bm/wxz2f90s7x104nl7tfs2lwdw0000gn/T/ipykernel_25791/2999703701.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/bm/wxz2f90s7x104nl7tfs2lwdw0000gn/T/ipykernel_25791/2999703701.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/bm/wxz2f90s7x104nl7tfs2lwdw0000gn/T/ipykernel_25791/2999703701.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/bm/wxz2f90s7x104nl7tfs2lwdw0000gn/T/ipykernel_25791/2999703701.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)

In [32]:
# Checking the data types of all the columns in the df_ords dataframe.

df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   order_id                int64
 2   user_id                 int64
 3   order_number            int64
 4   orders_day_of_week      int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(6)
memory usage: 182.7 MB

##### Observations:

There is no mixed-type data in the dataframe df_ords.

##### 4. If you find mixed-type data, fix it.

No mixed-type data came up when conducting the test, therefore nothing to change.

##### 5. Run a check for missing values in your df_ords dataframe.

In [33]:
# Run a check for missing values in the df_ords dataframe.

df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [34]:
# Find out the the missing values based on user_id count summarised.
df_ords[df_ords['days_since_prior_order'].isnull()].groupby('user_id').count().describe()

,Unnamed: 0,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,206209.0,206209.0,206209.0,206209.0,206209.0,206209.0
mean,1.0,1.0,1.0,1.0,1.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0
min,1.0,1.0,1.0,1.0,1.0,0.0
25%,1.0,1.0,1.0,1.0,1.0,0.0
50%,1.0,1.0,1.0,1.0,1.0,0.0
75%,1.0,1.0,1.0,1.0,1.0,0.0
max,1.0,1.0,1.0,1.0,1.0,0.0

##### Observations:

There are a total of 206,209 missing values in the days_since_prior_order column of the original df_ords DataFrame. The DataFrame has 3,421,083 rows and 7 columns, with 206,209 unique user_ids. This indicates that each user has one missing value, corresponding to their very first order, since there is no prior day before their initial purchase. Therefore, these missing values are expected and do not need to be removed, as they accurately represent the absence of a previous order for new users.

##### 6. Address the missing values using an appropriate method.

I believe the appropriate method is to do nothing as the missing values that have occured seem to belong to the first order that each of the user_id's made on the website. Indicating that they are expected and would damage the data if it was removed.

##### 7. Run a check for duplicate values in your df_ords data.

In [37]:
# Finding duplicates in the df_ords dataframe.
df_ords_dups = df_ords[df_ords.duplicated()]

In [38]:
df_ords_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

##### Observations:

There are no duplicate values found within the df_ords dataframe.

##### 8. Address the duplicates using an appropriate method.

There are no duplicates within this dataframe, therefore the appropriate mehtod is to do nothing.

##### 9. Export your final, cleaned df_prods and df_ords data as “.csv” files in your “Prepared Data” folder and give them appropriate, succinct names.

In [39]:
# I have already exported the cleaned df_prods at the end of the exercise, which can be seen just above the Task header.

In [40]:
# export products data frame
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))